
.ipc-a:before { content: '\e800'; } /* '' */
.ipc-b:before { content: '\e801'; } /* '' */
.ipc-c:before { content: '\e802'; } /* '' */
.ipc-d:before { content: '\e803'; } /* '' */
.ipc-e:before { content: '\e804'; } /* '' */
.ipc-f:before { content: '\e805'; } /* '' */
.ipc-g:before { content: '\e806'; } /* '' */
.ipc-h:before { content: '\e807'; } /* '' */